.panel {
    width: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: green;
}
